div.row-fluid
  div.span12
    h1 say wat?

div.row-fluid
  div.span2.userbox
    img.portrait(src=wat._user.gravatarUrl)
    p.nickname!= wat._user.displayName
  div.span8.questionbox
    h2 #{wat.phrase}
    p #{wat.region}

div.row-fluid
  div.span12
    h2.answertitle wat can it mean?
each answer in wat.answers
  div.row-fluid
    div.span2.userbox
      img(src=answer._user.gravatarUrl)
      p.nickname!= answer._user.displayName
    div.span8.questionbox
      p #{answer.content}

