div.row-fluid
  div.span12
    h1 say wat?

div.row-fluid
  div.span2
    p #{wat._user.displayName}
    p
      img(src=wat._user.gravatarUrl)
  div.span8
    h2 #{wat.phrase}
    p #{wat.region}

div.row-fluid
  div.span12
    h2 wat can it mean?
each answer in wat.answers
  div.row-fluid
    div.span2
      img(src=answer._user.gravatarUrl)
      p!= answer._user.displayName
    div.span8
      p #{answer.content}

